<div class="form">
        <img src="img/cloud.jpg" alt="">

        <div id="text" class="container mx-auto my-10 p-4 flex flex-col items-center">
            <p class="mb-2 text-[#081B46]"><strong>Đăng ký nhận bản tin của chúng tôi</strong></p>
            <p class="mb-4 text-[#DE9E5B]"><strong>Chúng tôi sẽ hỗ trợ bạn</strong></p>
            <div class="email">
                <div class="emailForm flex py-4"> 
                    <i class="bx bx-lock-alt text-gray-700"></i>
                    <input class="pl-2 pr-20 ml-5 mr-20 border-none focus:outline-none w-full h-12" type="text" id="email" placeholder="Email"> <!-- Thay đổi giá trị của pl-20 và pr-20 thành pl-4 và pr-4, và thêm lớp h-12 -->
                    <button class="py-2 bg-[#081B46] text-white">Đăng ký</button> <!-- Thay đổi giá trị của px-6 thành px-4 -->
                </div>
            </div>
        </div>
</div>