<div class="form">
        <img src="img/cloud.jpg" alt="">

         <footer class="login-footer">
            <div class="login-footer-title">
                <p>Đăng ký nhận bản tin của chúng tôi</p>
                <p>Chúng tôi sẽ hỗ trợ bạn</p>
            </div>

            <div class="login-footer-input">
                <input type="email" name="" id="" placeholder="Email">
                <button>Đăng ký</button>
            </div>
        </footer>
</div>