<navbar class="bg-white p-4 flex justify-between items-center">
    <div class="logo">
        <img src="img/logo.jpg" alt="Logo">
    </div>
    <div class="navlist">
        <div class="mylist">
            <ul class="list-none p-0 m-0 flex">
                <li class="mr-4"><a href="#">Về chúng tôi</a></li>
                <li class="mr-4"><a href="#">Dịch vụ</a></li>
                <li class="mr-4"><a href="#">Điểm đến</a></li>
                <li class="mr-4"><a href="#">Kênh liên lạc</a></li>
            </ul>
        </div>
    </div>
</navbar>